/* место для вашего кода */

:root {
  --font-color-black: black;
  --font-color-white: white;
  --font-size: 18px;
}

/* Header секция */

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  height: 293px;
  padding: 0 50px;
  color: var(--font-color-black);
}

.header__links-list {
  display: flex;
  column-gap: 30px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link {
  width: max-content;
  font-size: var(--font-size);
  text-decoration: none;
}

.header__link:hover {
  border-bottom: 1px solid black;
}

.header__logo-image {
  justify-self: center;
  width: 148px;
  height: 105px;
}

.address {
  justify-self: end;
  width: 240px;
  font-size: var(--font-size);
  font-style: normal;
  line-height: 24.3px;
}

.address__link {
  border-bottom: 1px solid black;
  text-decoration: none;
}

/* Конец header секции */

/* Cover секция */

.cover {
  position: relative;
  height: 757px;
  padding: 50px;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.cover::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  height: 355px;
  margin-top: 115px;
  color: var(--font-color-white);
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  align-self: start;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: end;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  margin-top: 135px;
}

.cover__description-text {
  color: var(--font-color-white);
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  width: 257px;
  height: 52px;
  border: 1px solid #fff;
  color: var(--font-color-white);
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}
