/* место для вашего кода */

:root {
  --font-color-black: black;
  --font-color-white: white;
  --font-size-xs: 18px;
  --font-size-s: 18px;
  --font-size-m: 22px;
  --font-size-l: 40px;
  --font-size-xl: 100px;
}

/* Header секция */

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  height: 293px;
  padding: 0 50px;
  color: var(--font-color-black);
}

.header__links-list {
  display: flex;
  column-gap: 30px;
  list-style-type: circle;
}

.header__links-list-item_no-bullit,
.footer__menu-list-item {
  list-style-type: none;
}

.header__link,
.footer__menu-link {
  width: max-content;
  font-size: var(--font-size-xs);
  text-decoration: none;
}

.header__link_active {
  border-bottom: 1px solid black;
}

.header__logo-image {
  justify-self: center;
  width: 138px;
  height: 110px;
}

.address {
  justify-self: end;
  width: 240px;
  font-size: var(--font-size-xs);
  font-style: normal;
  line-height: 24.3px;
}

.address__link {
  border-bottom: 1px solid black;
  text-decoration: none;
}

/* Конец header секции */

/* Cover секция */

.cover {
  position: relative;
  height: 757px;
  padding: 50px;
  background-image: url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.cover::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
}

.cover__title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  height: 355px;
  margin-top: 115px;
  color: var(--font-color-white);
  font-size: var(--font-size-xl);
  letter-spacing: 1.9rem;
  text-transform: uppercase;
}

.aligned-text {
  align-self: start;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: end;
}

.letter-spacing-extended {
  letter-spacing: 3.7rem;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  margin-top: 135px;
}

.cover__description-text {
  color: var(--font-color-white);
  font-size: var(--font-size-m);
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  width: 257px;
  height: 52px;
  border: 1px solid #fff;
  color: var(--font-color-white);
  font-size: var(--font-size-m);
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

/* Конец cover секции */

/* Lots секция */

.lots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 180px 50px;
}

.lots__heading {
  margin: 0 0 27px 40px;
  color: var(--font-color-black);
  font-weight: bold;
  font-size: var(--font-size-l);
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 430px;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
  cursor: pointer;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: #000;
}

.card__title {
  position: relative;
  color: var(--font-color-white);
  font-weight: bold;
  font-size: var(--font-size-m);
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  color: var(--font-color-white);
  font-size: var(--font-size-s);
  line-height: 132%;
  letter-spacing: 0.06em;
  text-decoration-line: none;
}

.card_type_film {
  background-image: url(/images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(/images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(/images/card-lot-03.jpg);
}

.lots__look-more-link {
  width: max-content;
  margin: 30px 0 0 40px;
  border-bottom: 1px solid black;
  font-size: var(--font-size-s);
  text-decoration: none;
}

/* Конец lots секции */

/* About секция */

.about {
  margin-top: 181px;
  padding: 0 50px;
}

.about__column {
  display: grid;
  grid-template-columns: 430px 1fr 1fr;
  grid-template-areas:
    "about__logo about__title about__title"
    ". about__text about__text"
    ". about__text about__text";
  column-gap: 25px;
  height: 487px;
}

.about__logo {
  display: flex;
  grid-area: about__logo;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  object-fit: cover;
}

.about__title {
  grid-area: about__title;
  align-self: center;
  color: var(--font-color-black);
  font-weight: bold;
  font-size: var(--font-size-l);
  text-transform: uppercase;
}

.about__text {
  grid-area: about__text;
  color: var(--font-color-black);
  font-weight: 400;
  font-size: var(--font-size-s);
  line-height: 110%;
  letter-spacing: 0.06em;
}

/* Конец about секции */

/* Footer секция */

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
  padding: 0 50px 90px 50px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__social-list {
  display: flex;
  column-gap: 48px;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}

.footer__menu-link_active {
  width: max-content;
  border-bottom: 1px solid black;
}

/* Конец footer секции */
